.review-field {
    color: rgb(0, 0, 0);
    /* font-size: 12px; */
    padding-left: 3px;
    font-weight: bolder;
  }

  .review-field ul {
    font-weight: normal;
  }

  .review-modal-subheader {
    display: flex;
    justify-content: center;
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin: 20px 20px 10px 20px;
  }

  textarea {
    resize: none;
    width: 90%;
    font-size: 14px;
    padding: 4px;
    border: none;
    border-radius: 4px;
    margin: 4px 0px;
  }

  textarea:focus {
    outline: none;
  }

  select {
    /* color: rgb(255, 90, 96); */
    /* width: 12%; */
    font-size: 14px;
    padding: 4px;
    border: none;
    border-radius: 4px;
    margin: 4px 0px;

  }

  select:focus {
    outline: none;
  }

  .review-field span {
    color: rgb(144, 12, 12);
  }


  .create-review-button {
    cursor: pointer;
    width: 180px;
    height: 35px;
    padding: 3px 10px;
    margin: 3px 0px 20px 0px;
    border: 1px rgb(0, 0, 0) solid;
    border-radius: 4px;
    background: rgb(0, 0, 0);
    color: white;
    font: bold;
    font-size: 15px;
  }

  .create-review-button:hover {
    background-color: #3C3C3C;
    border: 1px  rgba(0, 0, 0, 0.878) solid;
    color: white;
  }
