nav {
  width: auto;
  max-width: 90rem;
  margin: 0 auto;
}

.navBar-main {
  box-sizing: border-box;
  min-height: 100px;
  margin: 0 auto;
  width: 100%;
}

.navBar-outer {
  display: flex;
  flex-direction: row;
  margin: 20px auto;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
}

.navBar-link {
  margin: 0 5px;
  display: flex;
  align-items: center;
  text-decoration: none;
}
/* .navBar-home:hover {
  background-color: gray;
} */



.logo {
  /* left: 62px; */
  height: 60px;
  width: auto;
  margin-top: 0;
}

.navBar-link-icon {
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 48%;
  background-color: white;
}


.navBar-link-icon:hover{
  background-color: #EFEFEF;
  cursor: pointer;
  border-radius: 48%;
}

.navBar-link-icon img{
  border-radius: 48%;
}

.navBar-link-profile {
  display: flex;
  align-items: center;
  /* padding: 15px; */
  margin-top: -5px;
  /* margin-left: 4px; */
  border-radius: 10px;
}

.navBar-link-cart {
  display: flex;
  align-items: center;
  /* padding: 12px; */
  margin-top: 12px;
  border-radius: 48%;
  flex-direction: row;
  height: 50px;
  width: 60px;
  justify-content: center
}

.navBar-link-icon img {
  height: 3rem;
  width: 3rem;
  text-decoration: none;
}

.navBar-link-cart img {
  height: 1.8rem;
  width: 1.8rem;
  text-decoration: none;
}

.navBar-link-cart:hover {
  background-color: #EFEFEF;
  border-radius: 80%;
}
.navbar-profile-button .cartbubble,
.navBar-link-icon .cartbubble,
.cart-pic .cartbubble {
  visibility: hidden;
  width: 49px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
}

.navbar-profile-button .cartbubble {
  width: 70px;
  margin-left: -2rem;
  margin-top: 1rem;
}

.cart-pic .cartbubble {
  margin-left: -3rem;
}

.navBar-link-icon .cartbubble {
  width: 70px;
  margin-left: -5rem;
}
.navbar-profile-button .cartbubble::after,
.navBar-link-icon .cartbubble::after,
.cart-pic .cartbubble::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 65%;
  /* margin-left: -5px; */
  /* margin-right: 10px; */
  border-width: 4px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
.navbar-profile-button:hover .cartbubble,
.navBar-link-icon:hover .cartbubble,
.cart-pic:hover .cartbubble {
  visibility: visible;
  z-index: 3;
}
